@use "../abstracts/" as *;

:root {
  --color-dark-blue: #212529;
  --color-grey: #AAAAB3;
  --color-red-orange: #A7727d;
}

.footer {
  &__container_1 {
    
  }

  &__icon {
  
    display: block;

    cursor: pointer;
   
  }

  &__container_2 {
    font-size: 1.2rem;
    display: flex;
    width: 20rem;
    justify-content: space-around;
   
  }
}
