@use "../abstracts/" as *;
@use "../base/" as *;

.navigation {
  display: flex;
  color: white;
  align-items: end;
  justify-content: start;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  list-style-type: none;
&__headtext{
  text-transform: uppercase;
  font-size: 1.3rem;
      font-family: "Permanent Marker", cursive;
      font-weight: 400;
      font-style: normal;
      position: absolute;
      left: 1.5rem;
      top: 0.5rem;

}
&__menu{

position: absolute;
list-style-type: none;
 right:1.5rem ;
 font-size: 1.5rem;
  bottom: 0.2rem;
  color: white;
  //display: inline-block;
  @media (min-width: $breakpoint-md) {
   
  }
}
  &__products {
   color: black;
    margin: 0 auto;
  background-color: white;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
  &__product__text {
    height: 0;
   // background-color: white;
    list-style-type: none;
    position: absolute;
    right: 0;
    
  

  }
  &__product-text {
   color: black;

  }

  &__product {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    padding: 0.3rem 0.1rem;
    font-size: 1rem;
    color: black;
  }
  &__product--undertext {
    display: flex;
    justify-content: center;
    list-style-type: none;
    & :hover {
      color: #f6fbff;
      background-color: black;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  &__icon--arrow{
    margin-left: 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
  }
 

  &__addList {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    
    
    &--numItem {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      background-color: red;
      border-radius: 50%;
      padding: 2px 4px;
      font-size: 0.7rem;
      font-weight: bold;
      color: white;
    }
  }
}
.navigation__contact{
 // position: relative;
  display: inline-block;
  background-color: white;
  color: black;
  width: 100%;
  list-style-type: none;
  @media (min-width: $breakpoint-md) {
    display: inline-block;
  }
}
