@use "../abstracts/" as *;
@use "../base/" as *;

.navigation {
  display: flex;
  color: white;
  align-items: end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  list-style-type: none;

&__menu{

 position: absolute;
 right:1rem ;
  display: inline-block;
  @media (min-width: $breakpoint-md) {
   
  }
}
  &__products {
    
    margin: 0 auto;
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
  &__product__text {
    height: 0.2rem;
    background-color: white;
    list-style-type: none;
  }

  &__product {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    padding: 0.3rem 0.1rem;
    font-size: 1rem;
    color: black;
  }
  &__product--undertext {
    display: flex;
    justify-content: center;
    list-style-type: none;
    & :hover {
      color: #f6fbff;
      background-color: black;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  &__icon--arrow{
    margin-left: 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
  }
 

  &__addList {
    position: relative;
    display: inline-block;
    
    
    &--numItem {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      background-color: red;
      border-radius: 50%;
      padding: 2px 4px;
      font-size: 0.7rem;
      font-weight: bold;
      color: white;
    }
  }
}
.navigation__contact{
  display: none;
  @media (min-width: $breakpoint-md) {
    display: inline-block;
  }
}