@use "../abstracts/" as *;
@use "../base/" as *;

.navigation {

  display: flex;
  
  justify-content: space-around;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &__products {
    display: inline-block;
    color: white;
    
    
    
  }
  &__product__text{
    height: 0.2rem;
    background-color: white;
    
    
    
    

    
  }
 
  &__product{
    background-color: white;
    width: 100%;
    border: 1px solid black;
    padding: 0.3rem 0.1rem;
    font-size: 1rem;
    color: black;
   
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__addList {
    position: relative;
    display: inline-block;

    &--numItem {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      background-color: red;
      border-radius: 50%;
      padding: 2px 4px;
      font-size: 0.7rem;
      font-weight: bold;
      color: white;
    }
  }
}
