@use "sass:color";
$color-primary: rgb(0, 226, 156)!default;

$color-secondary: #4CAF50 !default;
$color-blue:#2f5e8d !default;
$color-dark-blue:#212529 !default;
$color-grey:#AAAAB3 !default;
$color-red-orange:#A7727d !default;



/** 1200px oder schmaler */
$breakpoint-lg: 75em!default;
/** 1024px oder schmaler */
$breakpoint-md: 64em!default;
/** 768px oder schmaler */
$breakpoint-sm: 48em!default;
/** ~500px oder höher */
$breakpoint-xs: 31em!default;




/** Breakpoints */
@media (min-width: $breakpoint-lg) {
    
}

@media (min-width: $breakpoint-md) {
    
}

@media (min-width: $breakpoint-sm) {
    
}

@media (min-width: $breakpoint-xs) {
    
}