@use "../abstracts/" as *;


.addlist{
  padding-bottom: 25rem;

  min-height: 100vh;
  @include main-container();


  &__cart-empty{
    
   width: 60%;
    margin:0 auto;
    font-size: 2rem;
    display: flex;
   position: relative;
    align-items : center;
  }
  &__cart-empty-shop-now{
    cursor: pointer;
    &:hover{
      color: red;
    }
  }
  &__cart-empty-icon{
    font-size: 30vh;
    position: absolute;
    left: -50%;
    right:-50%;
    color:rgba(33, 33, 43, 0.123) ;
    z-index: -1;
  }
&__container{
  
   @include container();
  }
  &__bild-container{
   @include bild-container();
   
  }
  &__img{
  @include img();
  }

  &__text{
    font-size: 0.9rem;
  }
  &__total-text{
    font-size: 2rem;
  }

  &__button{
    @include button();
  }
  &__buy--total{
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  &__button--buy{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  
  font-size: 10px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1000px;
  }
 
  
}