@use "../abstracts/" as *;

.home{
&__headline{margin: 2rem;}
    
&__main-container{
    @include main-container();
 

animation-name:container ;
animation-duration: 2s;
animation-timing-function: ease-in-out;


 
}

 

@keyframes container{
  0%{
    transform: translateY(50rem);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }

 
}
&__img{
  @include img();
  }
&__container{
   @include container();
  }
  &__bild-container{
   @include bild-container();
   
  }
  
}