:root{
    --color-dark-blue:#212529;
    --color-grey:#AAAAB3;
    --color-red-orange:#A7727d;

}



.logo-bild{
    margin-left: -3rem;
 width: 22rem;
 margin-top: 3rem ;
}  






.land{
    padding-left: 2rem;
}

.contacttext,.newlatesttext{
    color:var(--color-red-orange);
    margin-bottom: 1rem;
}
.footer-container_2 p{
    margin: 0.5rem auto;
}


/* #email{
    padding-left: 2rem;
    border-style: none;
    height: 3rem;
    width: 80%;
    background-color: var(--color-grey);
} */
/* #email:focus{
   outline: none;
} */



.contact-icons{
    padding-right: 1rem;
    color: var(--color-red-orange);
}
@media screen and (min-width: 1024px){
    .footer{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .logo-bild{
       
        margin-top: 0;
    }
    .footer__container_3{
        margin-top: 0;
        
    }
    .newlatesttext{
        margin-top: -0.5rem;
    }
   
}