#root {
  

  
  
 
}
body{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 10px;
}

li{
  display:flex;
  justify-content: center;
 list-style-type: none;


 
}

img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.bild-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 10rem;
  flex-wrap: wrap;
  box-sizing:border-box;}

.container{
 
  
  margin: 0 auto;
 position: relative;
  max-width: 15rem;
  height: 20rem;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-image: linear-gradient(to right, #2d3338, #f0f0f0);
  
}

.button{
  position: absolute;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1000px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  

}
.button--buy{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1000px;
}

.addlist {
  position: relative; 
  display: inline-block; 
}

.numItemWrapper {
  position: absolute;
  top: 0; 
  right: 0; 
  transform: translate(50%, -50%); 
  background-color: red; 
  border-radius: 50%; 
  padding: 2px 4px; 
  font-size: 0.7rem;
  font-weight: bold;
  color: white; }

  .icon{
    width: 1.5rem;
    height: 1.5rem; 
  }


  ul{
    position:;
    display: flex;
    justify-content: space-around;
  }
  .container1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex:0 0 auto;
    flex-wrap: wrap;

   
  }
 