* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    background-color: #2f5e8d;
}
header{
   height: 10rem;
   width: 100%;
    background-color: #ffffff;
    position: relative;
}
main{
    margin:  auto;
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    position: relative;
    max-width: 95rem;
    margin: 0px auto;
    padding: 0 2rem;
  }
