@font-face {
    font-family: 'SamsungOne 400';
    font-style: normal;
    font-weight: normal;
    src: url("/public/fonts/SamsungOne-400.ttf") format('truetype'); /* Korrektur: 'truetype' statt 'ttf' */
}

@font-face {
    font-family: 'SamsungOne 700';
    font-style: normal;
    font-weight: normal;
    src: url("/public/fonts/SamsungOne-700.ttf") format('truetype'); /* Korrektur: 'truetype' statt 'ttf' */
}

@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/public/fonts/SamsungSharpSans-Bold.ttf') format('truetype'); /* Korrektur: 'truetype' statt 'ttf' */
}